* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.header .container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.header .container .navbar__logo {
  font-size: 50px;
  line-height: 25px;
  color: #262626;
  font-weight: 400;
  font-family: "Pacifico", sans-serif;
}

.header .container .navbar__container .navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.header .container .navbar__container .navbar__items .navbar__item {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  margin-left: 35px;
}

.header .container .navbar__container .navbar__items .navbar__item .navbar__link {
  text-decoration: none;
  color: #262626;
  position: relative;
}

.header .container .navbar__container .navbar__items .navbar__item .navbar__link:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: orange;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.header .container .navbar__container .navbar__items .navbar__item .navbar__link.active, .header .container .navbar__container .navbar__items .navbar__item .navbar__link:hover:before {
  width: 100%;
}

main .info {
  height: 100vh;
  width: 100%;
  background-image: url(/img/strawberry.png);
  background-size: 100% 100%;
}

main .info .container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 40%;
}

main .info .container .info__title {
  font-size: 60px;
  line-height: 25px;
  color: #262626;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

main .info .container .info__information {
  width: 370px;
  margin-top: 30px;
  font-size: 17px;
  line-height: 27px;
  color: #262626;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

main .info .container .info__btn {
  width: 200px;
  height: 55px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  border-radius: 1px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  background-color: #ff6033;
  margin-top: 30px;
  cursor: pointer;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

main .info .container .info__btn:hover {
  background-color: #ff7e4e;
}

main .about {
  height: 100vh;
  background-image: radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #009f9f 100%);
}
/*# sourceMappingURL=style.css.map */